<h1>UserTags#index</h1>
<div id="id"><%= current_tenant_account.id %></div>
<div id="name"><%= current_tenant_account.name %></div>
<div id="domain"><%= current_tenant_account.domain %></div>
<div id="subdomain"><%= current_tenant_account.subdomain %></div>